# Elo-Point Example

In [1]:
from apprate.datasets.filenames import dataset_path, FILENAME_EPL_2018_2019_20_GAMES
from apprate.ratings.elo import Elo
from apprate.utils.enums import ratings
filename = dataset_path(FILENAME_EPL_2018_2019_20_GAMES)
Elo(version=ratings.ELOPOINT, starting_point=0).rate_from_file(filename)

              Item     rating  ranking
0          Arsenal -11.592411       17
1      Bournemouth  12.658841        5
2         Brighton  -6.337388       14
3          Burnley  -6.091179       13
4          Cardiff  -9.654647       15
5          Chelsea  13.592411        4
6   Crystal Palace   0.191876       10
7          Everton   4.000000        8
8           Fulham -15.861198       18
9     Huddersfield -21.846379       20
10       Leicester   6.230248        7
11       Liverpool  23.141457        1
12        Man City  19.846379        2
13      Man United   0.337388        9
14       Newcastle  -4.345353       12
15     Southampton  -4.000000       11
16       Tottenham   9.861198        6
17         Watford  16.091179        3
18        West Ham -15.992174       19
19          Wolves -10.230248       16